<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Login">
		
	<select id="findUser" resultType="com.mris.bean.model.UserTB" parameterType="map">
		SELECT  * FROM  tb_user WHERE name= #{account} and password = #{password}
	</select>
	<select id="getUsers" resultType="com.mris.bean.model.UserTB" parameterType="map">
		SELECT  * FROM  tb_user
	</select>
	<sql id="nameTest">
		<if test="name != null and name!=''">
			ue.name = #{name},
		</if>
	</sql>

</mapper>